<!DOCTYPE html>
<html>
<body>
    <link type="text/css" href="{{ url_for('static', filename='css/dashboard_table.css')}}" rel="stylesheet" />
     <link type="text/css" href='css/dashboard_table.css' rel="stylesheet" />
<table id="projects">
                            <tr>
                                <th>Project Name</th>
                                <th>URL</th>
                                <th>Submitted on</th>
                                <th>Last Evaluated on</th>
                            </tr>
                        </table>

</body>
</html>