<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>WAG</title>
<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-1.10.2.js')}}"></script>
<link type="text/css" href="{{ url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet" />
<link type="text/css" href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet" />

</head>

<body>
<div class="main-wrapper row-fluid">
	<div class="span6 main-left">
    	<div class="logo-wrapper">
            <img src="static/img/wag-logo.png" alt="WAG Logo" />
            <p>Small description</p>
		</div>
    </div>
	<div id="register" class="span6 white-dashed">
	
    	<div class="form-box">
    	<form action="/register" method="post" id='regform'  class="form-horizontal">
		<div id="reg">
          <fieldset>
            <legend>Register new user</legend>
            <label>
            	{{ form.username.label}}
				{{ form.username(size=30) }}
			</label>
			{% if form.username.errors %}
					<ul class='errors'> 
						{% for error in form.username.errors %}
							<li> {{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			<br/>
            <label>
            	{{ form.email.label}}
				{{ form.email(size=30) }}
			</label>
			{% if form.email.errors %}
					<ul class='errors'> 
						{% for error in form.email.errors %}
							<li> {{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			<br/>
			<label>
            	{{ form.password.label}}
				{{ form.password(size=30) }}
			</label>
			{% if form.password.errors %}
					<ul class='errors'> 
						{% for error in form.password.errors %}
							<li> {{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			<br/>
			<label>
            	{{ form.rePassword.label}}
				{{ form.rePassword(size=30) }}
			</label>
			{% if form.rePassword.errors %}
					<ul class='errors'> 
						{% for error in form.rePassword.errors %}
							<li> {{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			<br/>
            <button  value="Register"  class="btn btn-danger">Register</button>  <br><br><br>   

		</div>
						
		   </fieldset>
		</form>
	</div>
			
	</div>
           			
    </div>
<div  class="footer2">©99XTechnology </div>	
</body>
</html>