<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>WAG</title>

<link href="css/bootstrap.css" type="text/css" rel="stylesheet" />
<link href="css/main.css" type="text/css" rel="stylesheet" />
<script src="js/jquery-1.10.1.js" type="text/javascript"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>
</head>

<body>
<div class="header-wrapper row-fluid">

<div class="pull-left"><a href="index.html"><img src="img/wag-logo-horizontal.png" alt="WAG Logo" /></a></div>
	
    <span class="user-style">Welcome User!</span>
	<a href="#" class="header-links h-back">Back</a>
	<a href="#" class="header-links h-none" >Logout</a>
    

</div>
<div class="main-wrapper row-fluid dashboard">

    <div class="span2">
    	<ul class="left-menu">
        	<li class="m-active"><a href="#" class="m-project"> Projects </a></li>
            <li><a href="#" class="m-history"> Histry </a></li>
            <li><a href="#" class="m-settings"> Settings </a></li>
            <li><a href="#" class="m-about"> About </a></li>
        </ul>	
    </div>
     <div class="span10 white-back">
    	<h5>New Projects</h5>
        <table class="table table-condensed table-wag" >
          <thead>
          <tr>
            <th width="140">Project Name</th>
            <th>URL</th>
            <th width="180">Submitterd on</th>
            <th width="180">Last evaluated on</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>ALSI1</td>
            <td>http://127.0.0.1:5000/ALSI</td>
            <td>Wed  Jun  19  14:50:00  2013</td>
            <td>Wed  Jun  19  14:50:00  2013</td>
          </tr>
          <tr>
            <td>Google Search</td>
            <td>http://www.google.lk/webhp?source=search_app </td>
            <td>Tue  Jun  18  14:50:00  2013</td>
            <td>Tue  Jun  18  14:50:00  2013</td>
          </tr>
          <tr>
            <td>Google Map</td>
            <td>http://maps.google.lk/maps?hl=en&tab=wl </td>
            <td>Fri  Jun  21  14:50:00  2013</td>
            <td>Fri  Jun  21  14:50:00  2013</td>
          </tr>
          <tr>
            <td>Google Calender</td>
            <td>https://accounts.google.com/ServiceLogin?service=cl&passive=1209600&
continue=https://www.google.com/calendar/render?tab%3Dlc&followup=
https://www.google.com/calendar/render?tab%3Dlc&scc=1 </td>
            <td>Wed  Jun  19  14:50:00  2013</td>
            <td>Fri  Jun  21  14:50:00  2013</td>
          </tr>
          </tbody>
        </table>

    </div>
</div>



</body>
</html>
