<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>WAG</title>

<link href="css/bootstrap.css" type="text/css" rel="stylesheet" />
<link href="css/main.css" type="text/css" rel="stylesheet" />
</head>

<body>
<div class="header-wrapper row-fluid">
<a href="#" class="header-links h-sign">Sign up</a>
	<a href="#" class="header-links h-login">Login</a>
    

</div>
<div class="main-wrapper row-fluid landing">

	<div class="span3 main-left">
            <img src="img/wag-logo.png" alt="WAG Logo" />
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
    
    
	<div class="span9 white-dashed">
    	<form class="landing-box form-horizontal">
          <fieldset>
            <h1>Accessibility validate by your URL</h1>
            <span class="url-text-box">
            <input type="text"/  placeholder="your url...">
            <button type="submit" class="btn btn-danger btn-large">Evaluate</button>  
            </span>
            
            <label class="checkbox">
              <input type="checkbox"> Cross domain analysis
            </label> 
            <p><em>All form fields are required</em></p> 
             <br />
            <h1><span class="i-view"></span>Select visual impact</h1> 
            <label class="checkbox">
              <input type="checkbox"> Total Blind
            </label>
            <label class="checkbox">
              <input type="checkbox"> Low Vision
            </label>
            <label class="checkbox">
              <input type="checkbox"> Color Blind
            </label>
            <br />
            <h1><span class="i-level"></span>Select priority level</h1> 

            <select>
              <option>Level A</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </fieldset>
        </form>
        
    </div>
     
</div>

</body>
</html>
