<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>WAG</title>

<link href="css/bootstrap.css" type="text/css" rel="stylesheet" />
<link href="css/main.css" type="text/css" rel="stylesheet" />
</head>

<body>
<div class="main-wrapper row-fluid">
	<div class="span6 main-left">
    	<div class="logo-wrapper">
            <img src="img/wag-logo.png" alt="WAG Logo" />
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
		</div>
    </div>
	<div class="span6 white-dashed">
    	<div class="form-box">
    	<form class="form-horizontal">
          <fieldset>
            <legend>Register new user</legend>
            <label>Email<br /> <input type="text" ></label>
            <label>Username<br /> <input type="text" ></label>
            <label>Password<br /><input type="text"></label>
            <label>Confirm password<br /><input type="text"></label>
            
            <button type="submit" class="btn btn-danger">Register</button>     
          </fieldset>
        </form>
        </div>
    </div>
</div>

</body>
</html>
